.feedback {

    background-image: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.788)), url('../../../assets/feedback.jpg');
    background-size: cover;
    background-position: center;
    min-height: 500px;
    /* clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0); */




}